
body {
    position: relative;
    padding-top: 40px;
    background-color: #fff;
    overflow: scroll;
}

input, textarea {
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
}

textarea.code {
    font-family: "Consolas", "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
}

.marginLeft10 {
    margin-left: 10px;
}

.table td > input[type="text"] {
    margin: 0;
    height: 12px;
    line-height: 12px;
    text-align: center;
}

table {
    table-layout:fixed;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align:top;
}

.center {
    text-align: center !important;
}

.blue {
    color: blue
}

.green {
    color: green;
}

.red {
    color: red;
}

.disabled {
    color: #999;
}

.breadcrumb .divider {
    padding: 0 10px;
}

.navbar-fixed-top .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
            transition: all .2s linear;
}

.navbar-fixed-top .brand:hover {
    text-decoration: none;
}

.well {
    padding-bottom: 0;
}

.form-actions {
    margin-bottom: 0;
}

.form-more {
    padding: 17px 0 0;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: whiteSmoke;
    border-top: 1px solid #E5E5E5;
}

.footer {
    margin-top: 45px;
    padding: 10px 0 45px;
    border-top: 1px solid #E5E5E5;
}

.footer ul {
    list-style: none;
    display: inline-block;
}

.footer ul li {
    display: inline-block;
}

.footer ul li:not(:last-child):after {
    margin: 0 8px 0 10px;
    border-left: 1px solid #ccc;
    content: '';
}

.breadcrumb .icon {
    margin: 0 4px;
}

a.refresh i:hover {
    -webkit-transform: rotate(180deg);
    -webkit-transition-duration: .8s;
    -webkit-transition-delay: .1s;
}

a.refresh i {
    -webkit-transform: rotate(-180deg);
    -webkit-transition-duration: .8s;
    -webkit-transition-delay: .1s;
}

div.table {
    margin: 30px 0;
}

td .action a {
    display: inline-block;
    margin: 0 5px;
}

div.edit textarea {
    height: 100px;
}

div.edit .action button {
    margin: 0 10px;
}

.nav-search input {
    height: 17px !important;
    line-height: 17px !important;
}

.nav-search span {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.edit .form-horizontal .control-label {
    width: 120px !important;
    text-align: left !important;
}

.edit .form-horizontal .controls {
    margin-left: 0 !important;
}