body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.center {
  text-align: center !important;
}

.disabled {
  color: #999;
}

.table td > input[type="text"] {
  margin: 0;
  height: 12px;
  line-height: 12px;
  text-align: center;
}

.breadcrumb .divider {
  padding: 0 10px;
}

.breadcrumb .icon {
  margin: 0 4px;
  +margin-top: -29px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.nav-header-cur {
  color: #999999;
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  padding: 3px 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.row-fluid [class*='span'] {
  min-height: 20px \9;
}